.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.asshole {
    background-color: rgba(255, 255, 255, 0.663);
    margin: 5rem;
    padding: 4rem;
    border-radius: 10px;
    & > img {
        float: right;
    }
}

app-project-card-list {
    margin: 5rem;
}

.title {
    color: white;
    font-size: 20em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 6rem;
}

h3 {
    color: white;
    font-size: 5em;
    margin-left: 6rem;

}
