.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  
  width: 100%; 
}

.carousel {
  overflow-x: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  display: inline-flex;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));  
  width: 90%;
}

.repos {
  display: inline-flex;
  gap: 10px;
  scroll-snap-align: start;
}

.scroll-btn {
  position: absolute;
  z-index: 10;
  margin: 10px;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.scroll-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel::-webkit-scrollbar {
  display: none; // Completely hide the scrollbar
}

.repos > * {
  min-width: 300px;
  scroll-snap-align: center;
}
