<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img src="assets/github/github-mark.png" alt="GitHub Logo" width="40"> <!-- GitHub logo -->
    </div>
    <mat-card-title>{{ repoData()?.name }}</mat-card-title>
    <mat-card-subtitle>Created: {{ repoData()?.created_at }} | Updated: {{ repoData()?.updated_at }} | Pushed: {{ repoData()?.pushed_at }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ repoData()?.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a [href]="repoData()?.html_url" target="_blank">
      <button mat-button>View Repo</button>
    </a> 
    <a [href]="repoData()?.git_url" target="_blank">
      <button mat-button>Git URL</button>
    </a>
    <a [href]="repoData()?.ssh_url" target="_blank">
      <button mat-button>SSH URL</button>
    </a>
  </mat-card-actions>
</mat-card>
